/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f7f9f9;
}
.griscito {
  background-color: #eeeeee;
}

.navegacionColor {
  background-color: #343a40;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem;
}

.card-header:first-child {
  border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.track {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 50px;
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative;
}

.track .step.active:before {
  background: #75c43d;
}

.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px;
}

.track .step.active .icon {
  background: #75c43d;
  color: #fff;
}

.track .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd;
}

.track .step.active .text {
  font-weight: 400;
  color: #000;
}

.track .text {
  display: block;
  margin-top: 7px;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.img-sm {
  width: 80px;
  height: 80px;
  padding: 7px;
}

ul.row,
ul.row-sm {
  list-style: none;
  padding: 0;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529;
}

#contenedorFormFaccion {
  background-color: #ccc;
  width: 80%;
  border-radius: 10px;
}
#btnGuardarFaccion {
  margin-bottom: 20px;
}
#btnGuardarNuevoFaccion {
  position: absolute;
  z-index: 3;
}
#btnGuardarNuevoFaccion {
  margin-right: -10px;
}

#map {
  height: 250px;
}
label {
  color: white;
  font-size: 16px;
}

input:focus {
  color: red;
}
.form-control:focus {
  border-color: #c12329;
  box-shadow: 0 0 0 0.2rem rgba(78, 20, 28, 0.25);
}

.swal2-confirm.btn.btn-success {
  margin-left: 10px;
}

@media all and (max-width: 393px) {
  img {
    width: 30%;
  }

  #botonesComando {
    margin-left: 20%;
    margin-top: 4%;
  }

  .contenedorBotonesNavPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  #contenedorLogoNavBarSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  #navbarSupportedContent a {
    margin-top: 7px;
    margin-left: 3px;
  }

  #containerBusquedaFaccion {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    margin-left: -25px;
    gap: 25px;
  }
  #botonesFaccion {
    display: flex;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  #btnBuscar {
    margin-left: 18%;
  }
  #searchCliente {
    width: 160%;
    margin-left: -50px;
  }
  #searchCiudad {
    width: 160%;
    margin-left: -22px;
  }
  #searchProvincia {
    width: 160%;
    margin-left: 4px;
  }
  table {
    width: 100%;
    background-color: #000;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
  }
  table td[data-id] {
    display: flex;
  }
  table td[data-id]::before {
    content: attr(data-id);
    width: 90px;
  }
  table thead {
    display: none;
  }
  #btnGuardarNuevoFaccion {
    position: absolute;
    z-index: 3;
  }
  #btnGuardarNuevoFaccion {
    margin-right: -10px;
  }
}

@media (min-width: 393px) and (max-width: 560px) {
  img {
    width: 30%;
  }
  .contenedorBotonesNavPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  #contenedorLogoNavBarSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }
  #navbarSupportedContent a {
    margin-top: 7px;
    margin-left: 3px;
  }
  #containerBusquedaFaccion {
    display: flex;
    width: 100%;
    max-width: 100%;
  }
  #botonesFaccion {
    display: flex;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  #btnBuscar {
    margin-top: 20px;
    margin-left: 30%;
  }
  #btnModalAggFaccion {
    margin-top: 20px;
  }
  #searchCliente {
    width: 160%;
    margin-left: -50px;
  }
  #searchCiudad {
    width: 160%;
    margin-left: -22px;
  }
  #searchProvincia {
    width: 160%;
    margin-left: 4px;
  }
  #botonesComando {
    margin-left: 20%;
    margin-top: 4%;
  }
  table {
    width: 100%;
    background-color: #000;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
  }
  table td[data-id] {
    display: flex;
  }
  table td[data-id]::before {
    content: attr(data-id);
    width: 90px;
  }
  table thead {
    display: none;
  }
  #btnGuardarNuevoFaccion {
    position: absolute;
    z-index: 3;
  }
  #btnGuardarNuevoFaccion {
    margin-right: -10px;
  }
}

@media (min-width: 560px) and (max-width: 760px) {
  .contenedorBotonesNavPrincipal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  #contenedorLogoNavBarSecundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }
  .contenedorBotonesNavPrincipal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  #navbarSupportedContent a {
    margin-top: 7px;
    margin-left: 3px;
  }
  #containerBusquedaFaccion {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
    margin-left: -25px;
    gap: 25px;
  }
  #botonesFaccion {
    display: flex;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  #btnBuscar {
    margin-left: 33%;
  }
  #searchCliente {
    width: 170%;
  }
  #searchCiudad {
    width: 170%;
  }
  #searchProvincia {
    width: 170%;
  }
  #botonesComando {
    margin-left: 20%;
    margin-top: 4%;
  }
  table {
    width: 100%;
    background-color: #000;
  }

  table tr {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 5px;
  }
  table td[data-id] {
    display: flex;
  }
  table td[data-id]::before {
    content: attr(data-id);
    width: 90px;
  }
  table thead {
    display: none;
  }
  #btnGuardarNuevoFaccion {
    position: absolute;
    z-index: 3;
  }
  #btnGuardarNuevoFaccion {
    margin-right: -10px;
  }
}
